/*

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Three Zero Gamma
	Version    : 1.0
	Released   : 20130222

*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #AA3C3C;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 2em;
	font-family: Tahoma, sans-serif;
	background: #f2f2f2 url('images/bg.png');
	color: #3d3d3d;
}

strong {
	color: #242424;
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
}

h2,h3,h4 {
	margin-bottom: 1.25em;
	font-family: Bitter, serif;
	color: #000000;
}

img.left {
	float: left;
	margin: 8px 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.75em;
}

ul {
	margin-bottom: 1.75em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

#bg {
	background: url('images/highlight.png') top left repeat-x;
	padding: 48px 0 48px 0;
}

#banner {
	background: #ffffff;
}

#box1 {
	width: 532px;
	overflow: hidden;
	margin: 0 0 20px 0;
}

#box2 {
	width: 256px;
	overflow: hidden;
	float: left;
}

#box3 {
	width: 256px;
	overflow: hidden;
	margin: 0 0 0 276px;
}

#content {
	width: 532px;
	float: left;
	padding: 24px;
	background: #ffffff;
}

#copyright {
	text-align: center;
	color: #888888;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 0.9em;
}

#copyright a {
	color: #888888;
}

#header {
	position: relative;
	padding: 24px;
	height: 142px;
}

#logo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1180px;
	height: 134px;
	line-height: 134px;
	text-align: center;
}

#logo a {
	text-decoration: none;
	color: #000000;
	text-shadow: 0 2px 0 #ffffff;
}

#logo h1 {
	font-size: 3em;
	font-family: Bitter, serif;
}

#main {
	position: relative;
	padding: 0;
	width: 1180px;
	color: #4a4a4a;
	margin: 0 0 48px 0;
}

#main h2, #main h3, #main h4 {
	color: #212121;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #c9c9c9;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 1180px;
	height: 52px;
	line-height: 54px;
	margin: 0 0 24px 0;
	padding: 2px 0 0 0;
	background: #aa3c3c;
	font-family: Bitter, serif;
	text-shadow: 0 1px 0 #7a0c0c;
	text-align: center;
}

#nav a {
	text-decoration: none;
	color: #ffffff;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	display: inline;
	padding: 0 1.25em 0 1.25em;
	text-align: center;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto;
}

#search input.button {
	margin-left: 1em;
	border: 0;
	color: #ffffff;
	background: #aa3c3c;
	padding: 5px;
}

#search input.text {
	border: dotted 1px #000000;
	padding: 4px;
}

#sidebar1 {
	width: 232px;
	margin: 0 24px 0 600px;
	padding: 24px;
	background: #ffffff;
	color: #4a4a4a;
}

#sidebar1 h2, #sidebar1 h3, #sidebar1 h4 {
	color: #000000;
}

#sidebar1 ul {
	list-style: none;
}

#sidebar1 ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #c9c9c9;
}

#sidebar1 ul li.first {
	padding-top: 0;
	border-top: 0;
}

#sidebar2 {
	width: 232px;
	float: right;
	padding: 24px;
	background: #ffffff;
	color: #4a4a4a;
}

#sidebar2 h2, #sidebar2 h3, #sidebar2 h4 {
	color: #000000;
}

#sidebar2 ul {
	list-style: none;
}

#sidebar2 ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #c9c9c9;
}

#sidebar2 ul li.first {
	padding-top: 0;
	border-top: 0;
}